body{
  margin: none;
  padding: none;
}
html {
  margin: none;
  padding: none;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.container-red {
  height: 43px;
  background-color: #FF3838;
  padding: 10px 0 0 0;
}

.container-blue {
  height: 250px;
  background-color: #3B58FF;
  padding: 10px 0 0 0;
}

.container-red div .brand {
  color: white;

}

.box-form-password {
  width: 90%;
  margin-left: 5%;
}

.my-input-pass{
  height: 60px;
  font-size: 22px;
}

.my-button-check {
  margin-left: auto;
  width: 100%;
}